@model IEnumerable<Dis1.Models.Shablon>


@{
    ViewBag.Title = "Все смартфоны";
}
<div class="work">
    <div class="work-tittle">
        <div class="work-tittle title">
            <p>Страница шаблонов</p>
        </div>
        <div class="work-tittle text">
            <p>Стрианица для создания и просмотра шаблонов</p>
        </div>
    </div>
    <div class="shablon-head">
        <div class="shablon-head-inline"><a class="shablon-link" asp-area="" asp-controller="Home" asp-action="Template">Просмотреть</a></div>
        <div class="shablon-head-inline" style="margin-left:5px;"><a class="shablon-link" asp-area="" asp-controller="Home" asp-action="AddSh">Добавить</a></div>
    </div>
    <div class="shablon-table" id="content1">
        <table class="table-shablon">
            <tr><td class="table-1">Компания</td><td class="table-2">Представитель</td><td class="table-3">Удалить</td></tr>
            @foreach (var item in Model)
            {
                <tr><td>@item.ShablonName</td><td>@item.ShablonAgent</td><td><form asp-action="Delete" asp-controller="home" style="display:inline; padding:3px;"><input type="type" name="id" value="@item.Cs" style="display:none" /><input type="submit" name="id" class="btn-temp-del" value=""/></form><form asp-action="TemplateLook" asp-controller="home" style="display:inline; padding:3px;"><input type="type" name="id" value="@item.Cs" style="display:none" /><input type="submit" name="id" class="btn-temp-temp" value="" /></form></td></tr>
            }
        </table>
    </div>

</div>